@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');
@import url( ./mediaQuerys.css );
:root {
                /* Colors */
    /*Primary */
    --Dark-Violet: hsl( 256, 26%, 20% );
    --Grayish-Blue: hsl( 216, 30%, 68% );
    /* Neutral */
    --Very-Dark-Violet: hsl( 270, 9%, 17% );
    --Dark-Grayish-Violet: hsl( 273, 4%, 51% );
    --Very-Light-Gray: hsl( 0, 0%, 98% );

             /* Typography */
    --Font-Headings: 'DM Serif Display', serif;
    --Font-Body: 'Karla', sans-serif;

}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var( --Font-Body );
    font-size: 16px;
    color: var( --Very-Light-Gray );
    font-weight: 400;
}
*,
*:after,
*:before {
    box-sizing: inherit;
}
img {
    max-width: 100%;
}
/* Todo: Header Section */
.container {
    max-width: 80%; 
    margin: auto;
    overflow: hidden;
}
.container__navbar {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.icon_hamburger {
    display: none;
}
.menu ul {
    display: flex;
}
.svg_foot {
    display: none;
}
.menu__item {
    list-style: none;
    align-content: center;
}
.menu__item a{
    text-decoration: none;
    color: var( --Dark-Grayish-Violet );
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s ease;
    padding: 10px 20px;
}
.menu__item a:hover {
    color: var( --Dark-Violet );
}
.last a {
    color: var( --Dark-Violet );
    border: 1px solid var( --Dark-Violet );
    padding: 10px 30px;
}
.last:hover a {
    background-color: var( --Dark-Violet );
    color: var( --Very-Light-Gray );
}


/* Todo: Banner Section */
.banner {
    background-color: var( --Dark-Violet );
    height: 530px;
    width: 100%;
    position: relative;
}
.banner__container {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 80px;
}
.banner__text {
    width: 50%;
}
.banner__text--title::before {
    content: ' ';
    display: block;
    background-color: var(--Very-Light-Gray );
    width: 150px;
    height: 1px;
    margin-bottom: 50px;
}
.banner__text--title {
    font-family:  var( --Font-Headings );
    font-size: 50px;
    font-weight: 400;
    margin-top: 0;
    line-height: 60px;
    margin-bottom: 0;
}
.banner__text--paragraph {
    font-family: var( --Font-Body );
    margin-top: 30px;
    margin-bottom: 40px;
    line-height: 25px;
}
.button {
    text-decoration: none;
    color: var( --Very-Light-Gray );
    border: 1px solid var( --Very-Light-Gray );
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all .3s ease-in;
}
.button:hover {
    color: var( --Very-Dark-Violet );
    background-color: var( --Very-Light-Gray );
}
.banner-img{
    width: 50%;
}
.principal-img {
    display: block;
    background-image: url( ../images/image-intro-desktop.jpg );
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 0;
    height: 593px;
    width: 90%;
}
.svg-right {
    display: block;
    background-image: url( ../images/bg-pattern-intro-right-desktop.svg );
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top right;
    width: 25vw;
    height : 90%;
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
}
.svg-left-foot {
    display: block;
    background-image: url( ../images/bg-pattern-intro-left-desktop.svg );
    background-repeat: no-repeat;
    top: 425px;
    position: absolute;
    width: 100%;
    height : 504px;
    max-width: 100%;
    margin: 0;
    right: 0;
}

/* Todo: Were-Diferrent Section  */
.were__diferent {
    margin-top: 270px;
    color: var( --Very-Dark-Violet );
    font-family: var( --Font-Headings );
}
.were__content {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax( 350px, 1fr ) );
}
.were--titulo::before {
    content: ' ';
    display: block;
    background-color: var( --Dark-Grayish-Violet );
    width: 150px;
    height: 1px;
    margin-bottom: 50px;
}
.were--titulo {
    font-size: 55px;
    font-weight: 400;
}
.about__text {
    padding-right: 30px;
    font-weight: 100;
}
.about__text--title {
    font-size: 30px;
    font-weight: 100;
}
.about__text--paragraph{
    font-family: var( --Font-Body );
    color: var( --Dark-Grayish-Violet );
}

/* Todo: Find More Section */
.find__more {
    margin-top: 60px;
    background-color: var( --Dark-Violet );
    padding: 0 60px;
    position: relative;
}
.find__more--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.find__more--title{
    grid-column: 1;
    font-size: 45px;
    font-weight: 100;
    font-family: var( --Font-Headings );
}
.find__more--items {
    grid-column: 2;
    z-index: 1;
}
.find-more-svg{
    display: block;
    background-image: url( ../images/bg-pattern-how-we-work-desktop.svg );
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100% 100%;
    position: absolute;
    height: 100%;
    width: 40%;
    top: 0;
    margin: 0;
    padding: 0;
    right: 0;
}